@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    font-family: "Helvetica", "Arial", sans-serif;
    /*background-color: #f0f2f8;*/
    background: white;
}

:focus{
    outline: none !important;
}

.main{
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.dashboard_caption{
    font-size: 40px;
}

.bot_panel{
    background: white;
    width: 283px;
    border-radius: 20px;
    /*float:left;*/
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor:pointer;
}


.bot_panel_create{
    width: 283px;
    height: 204.7px;
    border-radius: 10px;
    /*float:left;*/
    margin-right: 16px;
    margin-bottom: 16px;
    border: 1px dashed gray;
    vertical-align: middle;
    text-align:center;
    padding-top: 75px;
}

.bot_caption{
    font-size: 17px;
    padding-left: 10px;
    margin-top:20px;
    font-weight: bold;
    color: #1a5bc3;
    border-left: 3px solid #1a5bc3;
}

.bot_date_caption{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #a2afc1;
}

.bot_preview{
    height: 70px;
    background: #009688;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #EEEEEE;
}

.bot_date{
    padding: 10px;
    color: #a2afc1;
}

.bot_date > span{
    vertical-align: middle;
}

.bot_buttons{
    text-align: center;
}

.leftMenu{
    padding-left: 15px;
    padding-right: 60px;
    padding-top: 50px;
    border-top-right-radius: 100px;
    /*background: #2261c6;*/
}

.row {
    margin-right: 0px;
}

.botList_caption{
    /*color: #2261c6;*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*padding-bottom: 10px;*/
    /*border-bottom: 2px solid #2361c64a;*/
    color: #a2afc1;
    font-size: 30px;
    font-weight: bold;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.menuButton {
    margin-right: 12px !important;
    text-transform: uppercase;
    transition: .2s;
    color: #0000008a;
    padding: 10px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.menuButton:hover {
    background: #f1f3f9;
}


.nameBot{
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.bot_menu{
    margin-left: 30px;
}

.gridItemRight{
    text-align: right;
}

.username{
    font-size: 15px;
    font-weight: bold;
}

.activeButton{
    color: #2261c6 !important;
    background: #f1f3f9;
}

.form{
    background: white;
    padding: 10px;
    border-radius:10px;
    width: 220px;
    border: 2px solid #EAEAEA;
    cursor:pointer;
}

.form_caption{
    padding-bottom: 5px;
    color: gray;
}

.property_panel{
    padding: 10px 20px 10px 10px;
}

.panel_caption{
    color: #0000008a;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align:center;
}


.component{
    background: white;
    padding: 10px;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    border: 2px solid #EAEAEA;
    transition: .2s;
    margin-bottom: 5px;
}

.component_icon{
    color:black;
}

.component_text{
    color:black;
}

.component:last-child{
    margin-bottom: 0;
}

.component:hover{
    background: #f6f6f6;
}

.component_active{
    padding: 10px;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    color: #2261c6;
    margin-bottom: 5px;
    border: 2px solid #2261c6;
}
.component_active:last-child{
    margin-bottom: 0;
}

.wrapper{
    min-height: calc(100vh - 110px)
}

.footer {
    background: #1b5ac3;
    height: 45px;
}

.buttonCreateBot{
    background: #2261c6;
    color: #2261c6;
    font-weight:bold;
    border-radius: 50px;
    padding: 10px;
}

.addBtnOverForm{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffbf;
    height: 100%;
    width: 220px;
    border-radius: 10px;
    text-align: center;
    color: #757575;
}

.logo{
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 24px;
}

.props_empy{
    height:100%;
    color: gray;
    text-align: center;
}

.props_buttons_name{
    background: #eaeaea;
    color: gray;
    /*text-align: center;*/
    padding: 5px;
    text-align:center;
    border-radius: 5px;
    margin-bottom: 5px;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}

.props_buttons_name > span{
    /*background: #eaeaea;*/
    /*padding: 3px 10px;*/
    /*border-top-right-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
    /*border-radius: 5px;*/
    /*border: 2px solid #eaeaea;*/
}


.props_buttons_block{
    /*border-top-right-radius: 10px;*/
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    border: 2px solid #eaeaea;
}

.props_buttons_all_block{
    margin-bottom:10px;
}

.props_buttons_all_block:last-child{
    margin-bottom:0px;
}

.force-overflow{

}

#props_id::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}

#props_id::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#props_id::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(27, 90, 195)));
}

.component_clear{
    text-align: center;
    color:gray;
}

.logo > span:first-child > img {
    width: 32px;
}
.logo > span:last-child {
    padding-left: 5px;
    font-weight: 300;
    color: black;
}

img{
    vertical-align: sub;
}

.lading_caption{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1c5ac3;
}

.lading_description{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: black;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.lading_button{
    border: 2px solid #1c5ac3;
    color: #1c5ac3;
    font-size: 25px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
}